@model GamesModel
@{
    ViewData["Title"] = "Editar Game";
}

<link rel="stylesheet" href="~/css/alerts.css" />

<div class="text-center">

    <h1 class="display-4">Editar Game</h1>


</div>

<form asp-controller="Games" asp-action="Alterar">
    <!-- O Id deve ser passado por um input do tipo hidden para associá-lo 
         ao banco para poder editá-lo, caso contrário, cairá na validação gamesDB==null -->
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome">Nome do Jogo</label>
        <input type="text" asp-for="NomeJogo" class="form-control" placeholder="Ex.: Need For Speed Most Wanted">
        @Html.ValidationMessageFor(x => x.NomeJogo)
    </div>

    <div class="form-group">
        <label for="estudio">Estúdio</label>
        <input type="text" asp-for="Estudio" class="form-control" placeholder="Ex.: EA Games">
        @Html.ValidationMessageFor(x => x.Estudio)
    </div>

    <div class="form-group">
        <label for="plataforma">Plataforma</label>
        <input type="text" asp-for="Plataforma" class="form-control" placeholder="Ex.: Xbox 360">
        @Html.ValidationMessageFor(x => x.Plataforma)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" role="button" asp-controller="Games" asp-action="Index">Voltar</a>
</form>

