.field-validation-error {
    color: #e01d1d;
    font-weight: 700;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}
